In [2]:
!pip install selenium

Collecting selenium
  Using cached selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"C:\\Users\\Asus\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [21]:
url = "https://www.naukri.com/"
driver.get(url)

In [22]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [23]:
search_job.send_keys("Data Analyst")

In [24]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

In [25]:
search_loc.send_keys("Bangalore")

In [26]:
search_btn = driver.find_element_by_class_name("btn")

In [27]:
search_btn.click()

In [28]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [29]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

In [30]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [31]:
company =[]
for i in comp:
    company.append(i.text)

In [32]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [33]:
location =[]
for i in loc:
    location.append(i.text)

In [34]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [35]:
experience =[]
for i in exp:
    experience.append(i.text)

In [36]:
df1 = pd.DataFrame({"Job Title":job_titles[0:10],
                   "Location":location[0:10],
                   "Company":company[0:10],
                   "Experience":experience[0:10]})
df1

,Job Title,Location,Company,Experience
0,Senior Data Analyst - SQL/Tableau/Redshift,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",Pronto Consulting Services,6-10 Yrs
1,Hiring Business data analyst with Strong SQL S...,Bangalore/Bengaluru,Hexaware Technologies Ltd.,9-13 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,1-3 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,1-5 Yrs
4,Data Analyst - Work from Home,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",POWER STORES E COMMERCE PRIVATE LIMITED,2-5 Yrs
5,Data Analyst,Bangalore/Bengaluru,Innovsource Services Private Limited,1-6 Yrs
6,Sr. Data Analyst DW BI- Immediate Joiners,Remote,Kelly Outsourcing and Consulting Group India P...,5-10 Yrs
7,Data Analyst- Azure,"Chennai, Bangalore/Bengaluru",Larsen & Toubro Infotech Limited,5-10 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru(2nd Phase JP Nagar),"Liventus, Inc.",5-8 Yrs
9,Business Data Analyst,Bangalore/Bengaluru,NetApp,3-6 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [94]:
url = "https://www.naukri.com/"
driver.get(url)

In [96]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

search_job.send_keys("Data Scientist")# Sending Datascientist to job position

In [100]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

search_loc.send_keys("Bangalore")#Sending keyword

search_btn = driver.find_element_by_class_name("btn")

search_btn.click()#clicking on search button

In [101]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [102]:
Title =[]
for i in job_title:
    Title.append(i.text.replace("\n",""))

In [104]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [105]:
Company =[]
for i in comp:
    Company.append(i.text)

In [106]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [107]:
Location =[]
for i in loc:
    Location.append(i.text)

In [109]:
desc = driver.find_element_by_xpath("//a[@class='title fw500 ellipsis']")

desc.click()

In [110]:
driver.switch_to.window(driver.window_handles[-1])#Switch to new open page to find the attributes of the job description

In [111]:
# Just for getting the job description attributes
description=[]
desc = driver.find_elements_by_xpath('//*[@class="dang-inner-html"]')
for i in desc:
    description.append(i.text.replace("\n",""))

In [112]:
# switch back to normal attributes
driver.switch_to.window(driver.window_handles[0])

In [113]:
# Getting url of all the title
url= []
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    url.append(i.get_attribute('href'))

In [130]:
#Now finding all the job description in one go we have link and job description attributes
description =[]
for i in url[0:10]:  # Only 10 description
    driver.get(url=i)
    desc = driver.find_elements_by_xpath('//*[@class="dang-inner-html"]')
    try:
        for i in desc:
            description.append(i.text.replace("\n",""))
    except:
        description.append(None)

In [131]:
df2 = pd.DataFrame({"Job Title":Title[0:10],
                    "Company":Company[0:10],
                   "Location":Location[0:10],
                   "Full description":description})
df2

,Job Title,Company,Location,Full description
0,Senior Data Scientist,Publicis Groupe,Bangalore/Bengaluru,"Work location: Bengaluru (Currently, Remote)Sh..."
1,Senior Data Scientist,Bidgely Technologies Private Limited,Bangalore/Bengaluru,Bidgely is looking for extraordinary and dynam...
2,Senior Data Scientist,Goals 101 Data Solutions Pvt. Ltd.,"New Delhi, Bangalore/Bengaluru, Delhi / NCR\n(...",Roles and Responsibilities:Work as part of a p...
3,Sr. Data Scientist / Tech Lead - Data Science,Confidential,Bangalore/Bengaluru,Role : Sr Data Scientist / Tech Lead - Data Sc...
4,Senior Data Scientist,RANDSTAD INDIA PVT LTD,Bangalore/Bengaluru,Roles and ResponsibilitiesJob DescriptionWhat ...
5,"Data Engineers , Data Scientist and SAP",Teamware Solutions,Bangalore/Bengaluru,Dynamic recruiting professional with 7 - 10 ye...
6,Western Digital Data Scientist 3,Western Digital,Bangalore/Bengaluru,"Design, develop and maintain Machine Learning/..."
7,Western Digital Data Scientist,Western Digital,Bangalore/Bengaluru,"Design, develop and maintain Machine Learning/..."
8,Data Scientist 4,Western Digital,Bangalore/Bengaluru,"Design, develop and maintain Machine Learning/..."
9,Data Scientist,HotelHub,Bangalore/Bengaluru,Data ScientistLocation: BengaluruQualification...

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [2]:
driver = webdriver.Chrome(r"C:\\Users\\Asus\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [10]:
url = "https://www.naukri.com/"
driver.get(url)

In [11]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [12]:
search_btn = driver.find_element_by_class_name("btn")
search_btn.click()

In [20]:
checkbox = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')

checkbox.click()

checkbox = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")

checkbox.click()

In [21]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [22]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

In [23]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company =[]
for i in comp:
    company.append(i.text)

In [24]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location =[]
for i in loc:
    location.append(i.text)

In [25]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience =[]
for i in exp:
    experience.append(i.text)

In [26]:
df3 = pd.DataFrame({"Job Title":job_titles[0:10],
                   "Location":location[0:10],
                   "Company":company[0:10],
                   "Experience":experience[0:10]})
df3

,Job Title,Location,Company,Experience
0,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
1,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
4,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs
5,Data Scientist,Gurgaon/Gurugram,Decimal Technologies Pvt Ltd.,1-3 Yrs
6,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
7,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
8,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs
9,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs

### Q4 Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [30]:
driver = webdriver.Chrome(r"C:\\Users\\Asus\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [3]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [4]:
signin = driver.find_element_by_xpath('//button[@class="d-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton"]')
signin.click()

In [6]:
#Entering login credentials Manually

In [7]:
btn = driver.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[3]/div[1]/button")

In [8]:
btn.click()

In [9]:
search = driver.find_element_by_xpath("//*[@id='sc.keyword']")

search.send_keys("Data Scientist")

In [10]:
location = driver.find_element_by_xpath('//*[@id="sc.location"]')

In [11]:
# Creating the location already present in the location bar
from selenium.webdriver.common.keys import Keys
for i in range(9):
    location.send_keys(Keys.BACK_SPACE)

In [12]:
location.clear()

In [13]:
location.send_keys("Noida")

In [14]:
driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()

In [15]:
#closing the popup
driver.find_element_by_xpath('//*[@id="JAModal"]/div/div[2]/div[2]/div/div[4]/button[1]').click()

In [18]:
company=[]
ratings=[]
days_ago=[]
for i in driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//span"):
    company.append(i.text.replace("\n","").strip())
company = company[0::3]
    

rating = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

try:
    for i in rating:
        if i.text is None:
            rating.append("---")
        else:
            ratings.append(i.text)
            
except NoSuchElementException:
    rating.append("--")



        
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
    days_ago.append(i.text)

In [20]:
df4 = pd.DataFrame({"Company":company[0:10],
                   "Company_Rating":ratings[0:10],
                   "No. of days ago when job was posted":days_ago[0:10]})
df4

,Company,Company_Rating,No. of days ago when job was posted
0,Liberin Technologies Private Limited,3.8,16d
1,Data Trained Education,3.8,6d
2,Pixel Vision,4.1,27d
3,Emerging India Analytics,5.0,8d
4,Salasar New Age Technologies,3.4,30d+
5,Crowe,4.6,30d+
6,CRMNEXT,4.1,2d
7,Biz2Credit Inc,3.9,30d+
8,Techlive,4.4,30d+
9,Newgen Software,3.8,27d

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [132]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [133]:
# Sending keyword in the searching tab
driver.find_element_by_xpath('//*[@id="KeywordSearch"]').send_keys("Data Scientist")
loc = driver.find_element_by_xpath('//*[@id="LocationSearch"]')
loc.clear()
loc.send_keys("Noida")

In [134]:
btn = driver.find_element_by_xpath('//*[@id="HeroSearchButton"]')
btn.click()

In [135]:
company =[]
rating=[]
Average=[]
min=[]
max=[]
min_s=[]
for i in driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]//a'):
    company.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]//span'):
    rating.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]'):
    Average.append(i.text.replace("\n",""))
    
for i in driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p'):
    min.append(i.text)

for i in range(1,len(min),2):
    max.append(min[i])

    
for i in range(0,len(min),2):
    min_s.append(min[i])

In [136]:
df5 = pd.DataFrame({"Company name":company[0:10],
                   "Number of Salaries":rating[0:10],
                   "Average salary":Average[0:10],
                   "Minimum salary":min_s[0:10],
                   "Max salary":max[0:10]})
df5.head(10)

,Company name,Number of Salaries,Average salary,Minimum salary,Max salary
0,IBM,131 salaries,"₹11,08,341 /yr",₹2L,₹43L
1,Tata Consultancy Services,121 salaries,"₹6,50,000 /yr",₹2L,₹25L
2,Mu Sigma,104 salaries,"₹6,16,548 /yr",₹3L,₹47L
3,Cognizant Technology Solutions,68 salaries,"₹8,71,501 /yr",₹3L,₹43L
4,Accenture,65 salaries,"₹10,00,641 /yr",₹2L,₹31L
5,Infosys,60 salaries,"₹8,37,251 /yr",₹2L,₹32L
6,Fractal,50 salaries,"₹14,95,613 /yr",₹6L,₹21L
7,Capgemini,45 salaries,"₹9,50,000 /yr",₹4L,₹24L
8,Amazon,38 salaries,"₹13,00,000 /yr",₹5L,₹34L
9,Wipro,34 salaries,"₹9,42,577 /yr",₹3L,₹28L

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [15]:
driver.get("https://www.flipkart.com/")

In [16]:
bclose = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")

In [17]:
bclose.click()

In [18]:
search = driver.find_element_by_xpath("//input[@class='_3704LK']")

In [19]:
search.send_keys("sunglasses")

In [20]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [21]:
search_btn.click()

In [26]:
urls=[]
for i in driver.find_elements_by_xpath('//div[@class="_2MImiq"]//a'):
    urls.append(i.get_attribute('href'))

In [39]:
name=[]
descr=[]
price=[]
discount=[]

In [40]:
for i in urls[0:3]:
    driver.get(i)
    try:
        product = driver.find_elements_by_class_name("_2WkVRV")# Getting the Brand Name
        for i in product:
            name.append(i.text)
    except:
        product.append("--")


    des = driver.find_elements_by_class_name("IRpwTa") # Short description
    for i in des:
        descr.append(i.text)

    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):# price
        price.append(i.text)

    for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):# discount
        discount.append(i.text)

In [41]:
print(len(name),len(descr),len(price),len(discount))

120 120 120 120

In [42]:
df6 = pd.DataFrame({"Brand":name[0:100],
                   "Product Description":descr[0:100],
                   "Price":price[0:100],
                   "Discount %":discount[0:100]})
df6

,Brand,Product Description,Price,Discount %
0,VINCENT CHASE,Polarized Retro Square Sunglasses (54),₹799,60% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
...,...,...,...,...
95,Villain,Others Wayfarer Sunglasses (Free Size),₹549,45% off
96,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
97,NuVew,"UV Protection, Gradient, Riding Glasses Aviato...",₹410,74% off
98,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹592,34% off
99,ROYAL SON,UV Protection Retro Square Sunglasses (49),₹664,66% off

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [21]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

In [22]:
# Clicking on all Reviews
all_review =driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
all_review.click()

In [23]:
# getting links
page_url = []
for i in driver.find_elements_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a"):
    page_url.append(i.get_attribute('href'))

In [26]:
Rating = [] # Creating list to store data
review_s = []
full_r = []
for i in page_url:
    driver.get(i)
    
    
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
            if i.text is None:
                Rating.append("---")
            else:
                Rating.append(i.text)
                
    except NoSuchElementException:
        print("Error 1")  

    
        
    try:
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
            review_s.append(i.text)
    except:
        "None"
    
    try:
        for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
            full_r.append(i.text)
    except:
        None

In [28]:
# Creating dataFrame
df7 = pd.DataFrame({"Rating":Rating[0:100],
                    "Review Summary":review_s[0:100],                   
                    "Full Review":full_r[:100]})
df7

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [124]:
driver.get("https://www.flipkart.com/")

In [126]:
search = driver.find_element_by_xpath("//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sneakers")

In [127]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [128]:
url = []
for i in driver.find_elements_by_xpath('//div[@class="_2MImiq"]//a'):
    url.append(i.get_attribute("href"))

In [129]:
price = []
brand = []
discount = []
product = []
for i in url[0:4]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
            brand.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
            price.append(i.text)
    except:
        "None"
    
    try:
        for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
            discount.append(i.text)
    except:
        discount.append(-1)
    try:
        for i in driver.find_elements_by_class_name("IRpwTa"):
            product.append(i.text)
    except:
        "None"

In [130]:
print(len(brand),len(product),len(discount),len(product))

160 160 160 160

In [131]:
df8 = pd.DataFrame({"Brand":brand[0:100],
                   "Product Description":product[0:100],
                   "Price":price[0:100],
                   "Discount %":discount[0:100]})
df8

,Brand,Product Description,Price,Discount %
0,EZDEZARIO,Casual Sneakers Shoes For Men Sneakers For Men...,₹499,50% off
1,ASTEROID,Luxury Branded Fashionable Men's Casual Walkin...,₹499,75% off
2,Numenzo,Sneakers For Men,₹378,62% off
3,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
4,bluemaker,casual for men (blue 06) Sneakers For Men,₹474,52% off
...,...,...,...,...
95,Edoeviv,Original Luxury Branded Fashionable Men's Casu...,₹474,40% off
96,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹346,65% off
97,ROCKFIELD,Sneakers For Men,₹399,60% off
98,Chevit,Chevit Combo Pack of 5 Casual Sneakers With Ca...,₹798,68% off
99,ASTEROID,Luxury Branded Fashionable Men's Casual Walkin...,₹499,75% off

### Q9: Go to the link- https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown inthe below image

In [233]:
driver.get("https://www.myntra.com/shoes")

In [234]:
filter = driver.find_element_by_css_selector('#mountRoot > div > div.application-base > main > div:nth-child(3) > div.search-leftContainer.column-base > section > div > div:nth-child(6) > ul > li:nth-child(1) > label > div')
filter.click()

In [235]:
filter_price = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[3]/label/div')

In [236]:
filter_price.click()

In [237]:
url=[]
for i in driver.find_elements_by_xpath('//ul[@class="pagination-container"]//a'):
    url.append(i.get_attribute('href'))

In [238]:
brand=[]
description=[]
price =[]

for i in url[0:2]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_class_name("product-brand"):
            brand.append(i.text)
    except:
        brand.append(None)
    
    try:
        for i in driver.find_elements_by_class_name("product-product"):
            description.append(i.text)
    except:
        description.append(None)
    try:
        for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
            price.append(i.text)
    except:
        price.append(None)

In [239]:
print(len(brand),len(price),len(description))

100 100 100

In [240]:
df9 = pd.DataFrame({"Brand":brand,
                   "Product Description":description,
                   "Price":price,
                   })
df9

           Brand             Product Description                        Price
0           ALDO               Men Driving Shoes                    Rs. 11999
1           Nike  Unisex COSMIC UNITY Basketball                    Rs. 13495
2   UNDER ARMOUR   Women HOVR Sonic 4 Colorshift                    Rs. 10999
3           Nike   LEBRON XVIII Basketball Shoes  Rs. 11436Rs. 17595(35% OFF)
4   UNDER ARMOUR     Men HOVR Sonic 4 Colorshift                    Rs. 10999
..           ...                             ...                          ...
95          Puma     Men ONE 1 IL Football Shoes  Rs. 13499Rs. 14999(10% OFF)
96   Birkenstock             Leather Wedge Pumps                    Rs. 10990
97         ASICS               Men Running Shoes  Rs. 11999Rs. 14999(20% OFF)
98   Birkenstock    Women Leather Open Toe Flats                    Rs. 10990
99   Birkenstock    Women Leather Open Toe Flats                    Rs. 10990

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in thebelow image:

In [24]:
driver.get("https://www.amazon.in/")

In [25]:
search = driver.find_element_by_id("twotabsearchtextbox")

In [26]:
search.send_keys("Laptop")

In [27]:
driver.find_element_by_id("nav-search-submit-button").click()# clicking on search button

In [28]:
# click on i9
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/16757432031"]//i').click()

In [29]:
# click on i7
driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']//i").click()

In [9]:
urls = []
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]//a'):
    urls.append(i.get_attribute('href'))

In [17]:
title=[]
price=[]
rating=[]



for i in urls[0:10]:
    driver.get(i)


#Title    
    try:
        titles= driver.find_element_by_xpath('//span[@id="productTitle"]')
        title.append(titles.text.replace("\n","").strip())
    except:
        title.append(None)

#Price


    try:
        lap_price = driver.find_element_by_xpath('//tr[@id="priceblock_ourprice_row"]//span')
        price.append(lap_price.text)
    except NoSuchElementException:
        price.append("--")


        
        
        


# Rating
    try:
        ratings = driver.find_element_by_xpath('//div[@class="a-fixed-left-grid-col aok-align-center a-col-right"]')
        rating.append(ratings.text)
    
    except NoSuchElementException:
            rating.append("--")

In [21]:
print(len(title),len(price),len(rating))

10 10 10

In [23]:
df10 = pd.DataFrame({"Title":title,
                   "Price":price,
                   "Rating":rating,
                   })
df10

,Title,Price,Rating
0,None,--,--
1,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,"₹1,09,990.00",4.1 out of 5
2,"MSI GF65 Thin, Intel i7-10750H, 15.6"" FHD (39....","₹81,990.00",3.7 out of 5
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"₹84,990.00",4.3 out of 5
4,"ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...","₹80,990.00",3.9 out of 5
5,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹34,990.00",3.9 out of 5
6,Mi Notebook Horizon Edition 14 Intel Core i7-1...,--,4.4 out of 5
7,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...","₹74,990.00",4.6 out of 5
8,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"₹91,200.00",4 out of 5
9,Samsung Galaxy Book Flex 13.3” | Samsung Lapto...,--,4.6 out of 5