In [2]:
!pip install selenium

Collecting selenium
  Using cached selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [155]:
driver = webdriver.Chrome(r"C:\\Users\\Asus\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [15]:
url = "https://www.naukri.com/"
driver.get(url)

In [17]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [18]:
search_job.send_keys("Data Analyst")

In [19]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

In [20]:
search_loc.send_keys("Bangalore")

In [21]:
search_btn = driver.find_element_by_class_name("btn")

In [22]:
search_btn.click()

In [33]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [34]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

In [36]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [37]:
company =[]
for i in comp:
    company.append(i.text)

In [38]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [39]:
location =[]
for i in loc:
    location.append(i.text)

In [40]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [41]:
experience =[]
for i in exp:
    experience.append(i.text)

In [42]:
print(len(job_titles),len(location),len(company),len(experience))

20 20 20 20

In [43]:
df1 = pd.DataFrame({"Job Title":job_titles[0:10],
                   "Location":location[0:10],
                   "Company":company[0:10],
                   "Experience":experience[0:10]})
df1

,Job Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),CAREERLABS TECHNOLOGIES PRIVATE LIMITED,0-3 Yrs
1,Data Analyst,"Pune, Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,4-8 Yrs
2,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",Nx-DT,10-16 Yrs
3,Senior Business Analyst- Data Science,Bangalore/Bengaluru(Whitefield),Evalueserve.com Pvt. Ltd,2-7 Yrs
4,Business/Data Analyst - Colleague Experience &...,Bangalore/Bengaluru,Vmware,3-8 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Telstra India Pvt Ltd,7-8 Yrs
6,Senior Data Analyst - Einstein Analytics,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Enquero,3-5 Yrs
7,Senior Specialist - Data Analyst,Bangalore/Bengaluru,Philips India Limited,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Magenta Power Pvt Ltd,3-5 Yrs
9,Data Analyst - Python,"Kochi/Cochin, Bangalore/Bengaluru",Suyati Technologies Pvt Ltd,4-6 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [61]:
url = "https://www.naukri.com/"
driver.get(url)

In [62]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

search_job.send_keys("Data Scientist")# Sending Datascientist to job position

In [63]:
search_loc = driver.find_element_by_id("qsb-location-sugg")

search_loc.send_keys("Bangalore")#Sending keyword

search_btn = driver.find_element_by_class_name("btn")

search_btn.click()#clicking on search button

In [64]:
job_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [65]:
Title =[]
for i in job_title:
    Title.append(i.text.replace("\n",""))

In [66]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [67]:
Company =[]
for i in comp:
    Company.append(i.text)

In [68]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [69]:
Location =[]
for i in loc:
    Location.append(i.text)

In [70]:
desc = driver.find_element_by_xpath("//a[@class='title fw500 ellipsis']")

desc.click()

In [71]:
driver.switch_to.window(driver.window_handles[-1])#Switch to new open page to find the attributes of the job description

In [72]:
# Just for getting the job description attributes
description=[]
desc = driver.find_elements_by_xpath('//*[@class="dang-inner-html"]')
for i in desc:
    description.append(i.text.replace("\n",""))

In [73]:
# switch back to normal attributes
driver.switch_to.window(driver.window_handles[0])

In [74]:
# Getting url of all the title
url= []
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    url.append(i.get_attribute('href'))

In [78]:
#Now finding all the job description in one go we have link and job description attributes
description =[]
for i in url[0:10]:  # Only 10 description
    driver.get(url=i)
    try:
        desc = driver.find_element_by_xpath('//*[@class="dang-inner-html"]')
        description.append(desc.text.replace("\n",""))
    except NoSuchElementException:
        description.append(None)

In [79]:
print(len(Title),len(company),len(Location),len(description))

20 20 20 10

In [81]:
df2 = pd.DataFrame({"Job Title":Title[0:10],
                    "Company":Company[0:10],
                   "Location":Location[0:10],
                   "Full description":description})
df2

,Job Title,Company,Location,Full description
0,Data Scientist- Senior Business Analyst/Lead A...,Evalueserve.com Pvt. Ltd,"Gurgaon/Gurugram, Bangalore/Bengaluru",Job DescriptionUnderstand and design analytica...
1,Senior Data Scientist,Signify,Bangalore/Bengaluru,"What you ll doResearch, design and prototype r..."
2,"Senior Data Scientist (Analytics),",Luxoft,Bangalore/Bengaluru,Data and Analytics Proposal Responses for Cr...
3,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru,None
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,None
5,Senior Data Scientist,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,Bangalore/Bengaluru,None
6,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Roles and ResponsibilitiesWell-versed in quant...
7,Senior Data Scientist,Philips India Limited,Bangalore/Bengaluru,"Be a part of the Enterprise IT , Information..."
8,Senior Data Scientist - KPO,TalentCo Search Pvt Ltd,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",- Ability to understand a problem statement an...
9,Senior Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",- Ability to understand a problem statement an...

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [2]:
driver = webdriver.Chrome(r"C:\\Users\\Asus\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [104]:
url = "https://www.naukri.com/"
driver.get(url)

In [105]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [106]:
search_btn = driver.find_element_by_class_name("btn")
search_btn.click()

In [117]:
checkbox = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/i')
checkbox.click()

In [114]:
checkbox = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

checkbox.click()

In [118]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [119]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

In [120]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company =[]
for i in comp:
    company.append(i.text)

In [121]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location =[]
for i in loc:
    location.append(i.text)

In [122]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience =[]
for i in exp:
    experience.append(i.text)

In [123]:
df3 = pd.DataFrame({"Job Title":job_titles[0:10],
                   "Location":location[0:10],
                   "Company":company[0:10],
                   "Experience":experience[0:10]})
df3

,Job Title,Location,Company,Experience
0,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
1,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
2,Data Scientist,"Noida, Gurgaon/Gurugram, Delhi / NCR",Agreeya,3-6 Yrs
3,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
5,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Ahmedabad, Ba...",Experiture,5-7 Yrs
6,Data Scientist- Image Processing & Computer Vi...,Delhi / NCR,ProtoGene Consulting Private Limited,4-7 Yrs
7,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
8,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
9,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs

### Q4 Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [30]:
driver = webdriver.Chrome(r"C:\\Users\\Asus\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [124]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [126]:
signin = driver.find_element_by_xpath('//button[@type="button"]')
signin.click()

In [6]:
#Entering login credentials Manually

In [7]:
btn = driver.find_element_by_xpath("/html/body/div[8]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[3]/div[1]/button")

In [8]:
btn.click()

In [128]:
search = driver.find_element_by_xpath("//*[@id='sc.keyword']")

search.send_keys("Data Scientist")

In [129]:
location = driver.find_element_by_xpath('//*[@id="sc.location"]')

In [130]:
# Creating the location already present in the location bar
from selenium.webdriver.common.keys import Keys
for i in range(9):
    location.send_keys(Keys.BACK_SPACE)

In [131]:
location.clear()

In [132]:
location.send_keys("Noida")

In [133]:
driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()

In [136]:
#closing the popup
driver.find_element_by_xpath('//button[@class="common__buttonLink___2YX2U"]').click()

In [137]:
company=[]
ratings=[]
days_ago=[]
for i in driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']//span"):
    company.append(i.text.replace("\n","").strip())
company = company[0::3]
    

rating = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

try:
    for i in rating:
        if i.text is None:
            rating.append("---")
        else:
            ratings.append(i.text)
            
except NoSuchElementException:
    rating.append("--")



        
for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
    days_ago.append(i.text)

In [138]:
df4 = pd.DataFrame({"Company":company[0:10],
                   "Company_Rating":ratings[0:10],
                   "No. of days ago when job was posted":days_ago[0:10]})
df4

,Company,Company_Rating,No. of days ago when job was posted
0,Liberin Technologies Private Limited,3.8,17d
1,Data Trained Education,3.8,7d
2,Pixel Vision,4.1,28d
3,Emerging India Analytics,3.4,9d
4,CRMNEXT,5.0,2d
5,Crowe,4.1,30d+
6,Biz2Credit Inc,4.6,30d+
7,Salasar New Age Technologies,4.3,30d+
8,Newgen Software,3.9,28d
9,Techlive,3.8,30d+

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [132]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [133]:
# Sending keyword in the searching tab
driver.find_element_by_xpath('//*[@id="KeywordSearch"]').send_keys("Data Scientist")
loc = driver.find_element_by_xpath('//*[@id="LocationSearch"]')
loc.clear()
loc.send_keys("Noida")

In [134]:
btn = driver.find_element_by_xpath('//*[@id="HeroSearchButton"]')
btn.click()

In [135]:
company =[]
rating=[]
Average=[]
min=[]
max=[]
min_s=[]
for i in driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]//a'):
    company.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]//span'):
    rating.append(i.text)

for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]'):
    Average.append(i.text.replace("\n",""))
    
for i in driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p'):
    min.append(i.text)

for i in range(1,len(min),2):
    max.append(min[i])

    
for i in range(0,len(min),2):
    min_s.append(min[i])

In [136]:
df5 = pd.DataFrame({"Company name":company[0:10],
                   "Number of Salaries":rating[0:10],
                   "Average salary":Average[0:10],
                   "Minimum salary":min_s[0:10],
                   "Max salary":max[0:10]})
df5.head(10)

,Company name,Number of Salaries,Average salary,Minimum salary,Max salary
0,IBM,131 salaries,"₹11,08,341 /yr",₹2L,₹43L
1,Tata Consultancy Services,121 salaries,"₹6,50,000 /yr",₹2L,₹25L
2,Mu Sigma,104 salaries,"₹6,16,548 /yr",₹3L,₹47L
3,Cognizant Technology Solutions,68 salaries,"₹8,71,501 /yr",₹3L,₹43L
4,Accenture,65 salaries,"₹10,00,641 /yr",₹2L,₹31L
5,Infosys,60 salaries,"₹8,37,251 /yr",₹2L,₹32L
6,Fractal,50 salaries,"₹14,95,613 /yr",₹6L,₹21L
7,Capgemini,45 salaries,"₹9,50,000 /yr",₹4L,₹24L
8,Amazon,38 salaries,"₹13,00,000 /yr",₹5L,₹34L
9,Wipro,34 salaries,"₹9,42,577 /yr",₹3L,₹28L

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [15]:
driver.get("https://www.flipkart.com/")

In [16]:
bclose = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")

In [17]:
bclose.click()

In [18]:
search = driver.find_element_by_xpath("//input[@class='_3704LK']")

In [19]:
search.send_keys("sunglasses")

In [20]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [21]:
search_btn.click()

In [26]:
urls=[]
for i in driver.find_elements_by_xpath('//div[@class="_2MImiq"]//a'):
    urls.append(i.get_attribute('href'))

In [39]:
name=[]
descr=[]
price=[]
discount=[]

In [40]:
for i in urls[0:3]:
    driver.get(i)
    try:
        product = driver.find_elements_by_class_name("_2WkVRV")# Getting the Brand Name
        for i in product:
            name.append(i.text)
    except:
        product.append("--")


    des = driver.find_elements_by_class_name("IRpwTa") # Short description
    for i in des:
        descr.append(i.text)

    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):# price
        price.append(i.text)

    for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):# discount
        discount.append(i.text)

In [41]:
print(len(name),len(descr),len(price),len(discount))

120 120 120 120

In [42]:
df6 = pd.DataFrame({"Brand":name[0:100],
                   "Product Description":descr[0:100],
                   "Price":price[0:100],
                   "Discount %":discount[0:100]})
df6

,Brand,Product Description,Price,Discount %
0,VINCENT CHASE,Polarized Retro Square Sunglasses (54),₹799,60% off
1,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
...,...,...,...,...
95,Villain,Others Wayfarer Sunglasses (Free Size),₹549,45% off
96,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
97,NuVew,"UV Protection, Gradient, Riding Glasses Aviato...",₹410,74% off
98,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹592,34% off
99,ROYAL SON,UV Protection Retro Square Sunglasses (49),₹664,66% off

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [21]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

In [22]:
# Clicking on all Reviews
all_review =driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
all_review.click()

In [23]:
# getting links
page_url = []
for i in driver.find_elements_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a"):
    page_url.append(i.get_attribute('href'))

In [26]:
Rating = [] # Creating list to store data
review_s = []
full_r = []
for i in page_url:
    driver.get(i)
    
    
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
            if i.text is None:
                Rating.append("---")
            else:
                Rating.append(i.text)
                
    except NoSuchElementException:
        print("Error 1")  

    
        
    try:
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
            review_s.append(i.text)
    except:
        "None"
    
    try:
        for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
            full_r.append(i.text)
    except:
        None

In [28]:
# Creating dataFrame
df7 = pd.DataFrame({"Rating":Rating[0:100],
                    "Review Summary":review_s[0:100],                   
                    "Full Review":full_r[:100]})
df7

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,5,Fabulous!,Everything is perfect pictures come out so cle...
97,5,Just wow!,The ultimate performance\nCamera is superb\nTh...
98,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
99,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [124]:
driver.get("https://www.flipkart.com/")

In [126]:
search = driver.find_element_by_xpath("//*[@id='container']/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys("sneakers")

In [127]:
search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [128]:
url = []
for i in driver.find_elements_by_xpath('//div[@class="_2MImiq"]//a'):
    url.append(i.get_attribute("href"))

In [129]:
price = []
brand = []
discount = []
product = []
for i in url[0:4]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
            brand.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
            price.append(i.text)
    except:
        "None"
    
    try:
        for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
            discount.append(i.text)
    except:
        discount.append(-1)
    try:
        for i in driver.find_elements_by_class_name("IRpwTa"):
            product.append(i.text)
    except:
        "None"

In [130]:
print(len(brand),len(product),len(discount),len(product))

160 160 160 160

In [131]:
df8 = pd.DataFrame({"Brand":brand[0:100],
                   "Product Description":product[0:100],
                   "Price":price[0:100],
                   "Discount %":discount[0:100]})
df8

,Brand,Product Description,Price,Discount %
0,EZDEZARIO,Casual Sneakers Shoes For Men Sneakers For Men...,₹499,50% off
1,ASTEROID,Luxury Branded Fashionable Men's Casual Walkin...,₹499,75% off
2,Numenzo,Sneakers For Men,₹378,62% off
3,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹240,51% off
4,bluemaker,casual for men (blue 06) Sneakers For Men,₹474,52% off
...,...,...,...,...
95,Edoeviv,Original Luxury Branded Fashionable Men's Casu...,₹474,40% off
96,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹346,65% off
97,ROCKFIELD,Sneakers For Men,₹399,60% off
98,Chevit,Chevit Combo Pack of 5 Casual Sneakers With Ca...,₹798,68% off
99,ASTEROID,Luxury Branded Fashionable Men's Casual Walkin...,₹499,75% off

### Q9: Go to the link- https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown inthe below image

In [233]:
driver.get("https://www.myntra.com/shoes")

In [234]:
filter = driver.find_element_by_css_selector('#mountRoot > div > div.application-base > main > div:nth-child(3) > div.search-leftContainer.column-base > section > div > div:nth-child(6) > ul > li:nth-child(1) > label > div')
filter.click()

In [235]:
filter_price = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[3]/label/div')

In [236]:
filter_price.click()

In [237]:
url=[]
for i in driver.find_elements_by_xpath('//ul[@class="pagination-container"]//a'):
    url.append(i.get_attribute('href'))

In [238]:
brand=[]
description=[]
price =[]

for i in url[0:2]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_class_name("product-brand"):
            brand.append(i.text)
    except:
        brand.append(None)
    
    try:
        for i in driver.find_elements_by_class_name("product-product"):
            description.append(i.text)
    except:
        description.append(None)
    try:
        for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
            price.append(i.text)
    except:
        price.append(None)

In [239]:
print(len(brand),len(price),len(description))

100 100 100

In [240]:
df9 = pd.DataFrame({"Brand":brand,
                   "Product Description":description,
                   "Price":price,
                   })
df9

           Brand             Product Description                        Price
0           ALDO               Men Driving Shoes                    Rs. 11999
1           Nike  Unisex COSMIC UNITY Basketball                    Rs. 13495
2   UNDER ARMOUR   Women HOVR Sonic 4 Colorshift                    Rs. 10999
3           Nike   LEBRON XVIII Basketball Shoes  Rs. 11436Rs. 17595(35% OFF)
4   UNDER ARMOUR     Men HOVR Sonic 4 Colorshift                    Rs. 10999
..           ...                             ...                          ...
95          Puma     Men ONE 1 IL Football Shoes  Rs. 13499Rs. 14999(10% OFF)
96   Birkenstock             Leather Wedge Pumps                    Rs. 10990
97         ASICS               Men Running Shoes  Rs. 11999Rs. 14999(20% OFF)
98   Birkenstock    Women Leather Open Toe Flats                    Rs. 10990
99   Birkenstock    Women Leather Open Toe Flats                    Rs. 10990

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in thebelow image:

In [156]:
driver.get("https://www.amazon.in/")

In [157]:
search = driver.find_element_by_id("twotabsearchtextbox")

In [158]:
search.send_keys("Laptop")

In [159]:
driver.find_element_by_id("nav-search-submit-button").click()# clicking on search button

In [160]:
# click on i9
driver.find_element_by_xpath('//li[@id="p_n_feature_thirteen_browse-bin/16757432031"]//i').click()

In [161]:
# click on i7
driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']//i").click()

In [181]:
title=[]
price=[]
rating=[]

#Price

try:
    lap_price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
    for i in lap_price:
        price.append(i.text)
except :
    price.append("--")

In [182]:
urls = []
for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]//a'):
    urls.append(i.get_attribute('href'))

In [183]:
# Fetching Titles and Rating From the url extracted        
for i in urls[0:10]:
    driver.get(i)


#Title    
    try:
        titles= driver.find_element_by_xpath('//span[@id="productTitle"]')
        title.append(titles.text.replace("\n","").strip())
    except:
        title.append(None)     
        
        


# Rating
    try:
        ratings = driver.find_element_by_xpath('//div[@class="a-fixed-left-grid-col aok-align-center a-col-right"]')
        rating.append(ratings.text)
    
    except NoSuchElementException:
            rating.append("--")

In [184]:
#Price is scrap separated
print(len(title),len(price),len(rating))

10 32 10

In [185]:
df10 = pd.DataFrame({"Title":title,
                   "Price":price[0:10],
                   "Rating":rating,
                   })
df10

                                               Title     Price        Rating
0  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  1,07,990  4.5 out of 5
1  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,09,990  4.1 out of 5
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  4.3 out of 5
3  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....    81,990  3.6 out of 5
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...    59,490  4.4 out of 5
5  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,09,990  4.1 out of 5
6  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    34,990  3.8 out of 5
7  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...    71,990  4.2 out of 5
8  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    74,990  4.6 out of 5
9  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    90,950    4 out of 5